html {
  width: 400px;
  height: 600px;
  background-color: #182526;
  color: #eeeeee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.84em;
}

h1, h2, h3, h4, h5, h6 {
  padding: 8px 12px;
  margin: 0;
}

h2, h3, h4, h5, h6 {
  width: 100%;
  background-color: #1e3040;
  font-weight: normal;
}

section > h2 {
  padding-left: 42px;
}
footer > h2 {
  padding: 4px 12px;
  margin: 0 auto;
  width: 100%;
  background-color: #1e3040;
  font-size: 0.8em;
  color: #8a8c81;
}
footer > div {
  padding: 4px 12px;
  margin: 0 auto;
  width: 100%;
  background-color: #182526;
  font-size: 0.8em;
  color: #8a8c81;
}
#snippet-container, #category-container,
#snippet-list, #category-list {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#snippet-list, #category-list {
  list-style-type: none;
  margin-top: 1px;
  overflow-y: auto;
}

#snippet-list > div, #category-list > div {
  padding: 8px;
  border: 1px solid #182526;
  background-color: #1e3040;
  min-height: 22px;
  cursor: pointer;
}

#snippet-list div:hover, #category-list div:hover {
  border: 1px solid #59583f;
  color: #fff;
}

#add-category:hover, #back-button:hover {
  color: #fff;
}

#add-category, #back-button {
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 10;
  padding: 2px;
  margin: 6px auto;
  min-height: 22px;
}

.delete-button, .edit-button, #add-category, #back-button {
  color: #8a8c81;
  background-color: #1e3040;
  border: 1px solid #1e3040;
  cursor: pointer;
}

.delete-button, .edit-button {
  float: right;
  margin: 0 auto;
  padding: 0;
}
